body {
    padding: 0;
    margin: 0%;
    font-family: var(--font-family);
    background-color: var(--surface-0);
    color: var(--text-color);
}

.card {
    padding: 2em;
}

.p-datatble .p-datatble-thead > tr > th {
    -webkit-margin-bottom-collapse: var(--surface-100);
}

.projectno {
    color: var(--blue-600);
    font-weight: normal;
}